<html>
<head>
</head>
<body>
Our company website here


p.
	Restaurant registers with our Central site - add location, account, info…

	User creates account / registers with our Central site and input bank account/ connect via openbankproject api - able to make transactions from user to restaurant

	Since we are creating only a demo, we just hardcode a list of Restaurants and use users from openbankproject

	But create 

</body>
</html>