extends layout

block scripts
  script.
    // Inject js variable
    var isFirstVisit= #{isFirstVisit}
  script(src='/static/js/home.js')
  script(src="/static/js/googleMaps.js")

block content
  // NavBar
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Lazy Bill</a>
      <ul id="nav-mobile" class="side-nav">
        <li><img src="/static/img/logo.png" width="100%" style="margin-bottom: -1em;"></li>
        <li><a href="#"><i class="material-icons">perm_identity</i>Account</a></li>
        <li><a href="#"><i class="material-icons">credit_card</i>Payment Methods</a></li>
        <li><a href="#"><i class="material-icons">star</i>Rewards</a></li>
        <li><a href="#"><i class="material-icons">supervisor_account</i>Invite Friends</a></li>
        <li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  if isFirstVisit
    // Slider
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            <a id="finish-intro" class="waves-effect waves-light btn">Let's go</a>
          </div>
        </li>
      </ul>
    </div>

  // ------------- MAP COMES HERE ----------------
  
  <div id="map" style="height:200px;width:200px;"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4_Nk7nYURPRZYwwaJ-ce7LLasI5NHRG8&callback=initMap"></script>
 

  // ------------- LIST OF RESTAURANTS -------------
  <div id="restaurant-list">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="/restaurant/me">RESTAURANT link</a>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
       