extends layout

block scripts
  script.
    // Inject js variable
    var isFirstVisit= #{isFirstVisit}
  script(src='/static/js/home.js')
  script(src="/static/js/googleMaps.js")

block content
  // NavBar
  <nav class="deep-orange darken-1" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Lazy Bill</a>
      <ul id="nav-mobile" class="side-nav">
        <li><img src="/static/img/logo.png" width="100%" style="margin-bottom: -1em;"></li>
        <li><a href="#"><i class="material-icons">perm_identity</i>Account</a></li>
        <li><a href="#"><i class="material-icons">credit_card</i>Payment Methods</a></li>
        <li><a href="#"><i class="material-icons">star</i>Rewards</a></li>
        <li><a href="#"><i class="material-icons">supervisor_account</i>Invite Friends</a></li>
        <li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  // Slider
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/img/cards.jpg">
        <div class="caption center-align">
          <h3>Connect to your bank account</h3>
        </div>
      </li>
      <li>
        <img src="/static/img/restaurant.jpg">
        <div class="caption center-align">
          <h3>Find places<br>near you</h3>
          <h5 class="light grey-text text-lighten-3">Explore the area</h5>
        </div>
      </li>
      <li>
        <img src="/static/img/food.jpg">
        <div class="caption center-align">
          <h3>Order with<br> a single click</h3>
          <h5 class="light grey-text text-lighten-3">Enjoy your meal!</h5><br><br>
          <a id="finish-intro" class="waves-effect waves-light btn">Start</a>
        </div>
      </li>
    </ul>
  </div>

  // ------------- MAP COMES HERE ----------------
  
  <div id="map"></div>
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4_Nk7nYURPRZYwwaJ-ce7LLasI5NHRG8&callback=initMap")
 

  // ------------- LIST OF RESTAURANTS -------------
  <div id="restaurant-list">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="/restaurant/nightlyBurger">RESTAURANT link</a>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
       