extends layout

block content

  // NavBar
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Lazy Bill</a>
      <ul id="nav-mobile" class="side-nav">
        <li><img src="/static/img/logo.png" width="100%" style="margin-bottom: -1em;"></li>
        <li><a href="#"><i class="material-icons">supervisor_account</i>Account</a></li>
        <li><a href="#"><i class="material-icons">credit_card</i>Add Payment</a></li>
        <li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  // ------------- MAP COMES HERE ----------------
<div id="map" class="modal bottom-sheet">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4_Nk7nYURPRZYwwaJ-ce7LLasI5NHRG8&callback=initMap"
async defer></script>
</div>
  
  // ------------- LIST OF RESTAURANTS <-------------
  <a href="/restaurant/me">RESTAURANT link</a><br>
  // Modals
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
            
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
       