extends restaurant-layout

block frame
  <div id="menu-tabs" class="row">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Classics</a></li>
      <li class="tab col s3"><a href="#test2">Salads</a></li>
      <li class="tab col s3"><a href="#test3">Extras</a></li>
      <li class="tab col s3"><a href="#test4">Drinks</a></li>
      <li class="tab col s3"><a href="#test5">Desserts</a></li>
    </ul>

    - console.log(menu);

    - var counter = 0;
    - for (var property in menu) {
        - counter += 1;
        div.col.s12(id= "test" + counter)
          ul.collapsible(data-collapsible="accordion")
            - for(var i =0; i< menu[property].length; i++) {
            li
              div.collapsible-header= menu[property][i][0]
                span.price(style="float: right")= "£" + menu[property][i][1]
              div.collapsible-body
                a(style="margin: 1.2em 2em 0em 0em; float: right" class="btn-floating waves-effect waves-light red add-basket")
                  <i class="material-icons">add</i>
                p= menu[property][i][2]
            - }
    - }
  </div>

  <div id="menu-total-price">
    <ul class="collection">
      <li class="collection-item" style="font-weight: bold; font-size: 1.4em;">Total price: &pound;<span id="tot-price">0.00</span><a href="/submitted" class="btn-floating waves-effect waves-light red secondary-content"><i class="material-icons">shopping_cart</i></a>
      </li>
    </ul>
  </div>

          
