extends restaurant-layout

block frame

  <div class="parallax-container" style="height: 15em;">
    <div class="parallax"><img src="/static/img/rest.jpg"></div>
  </div>
  // Main section
  <div class="section no-pad-bot no-pad-top" id="index-banner">
    <div class="container">
      <h1 class="header center deep-orange-text" >NightlyBurger</h1>
      <div class="row center">
        <h5 class="header col s12 light">We have over 40 different handmade burgers for you to choose from...</h5>
      </div>
      <div class="row center">

        <div class="col s6">
          <a href="/menu">
            <div class="card hoverable blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">DINE IN</span>
                <p>Book a table,<br> check-in, and then order food directly from the app.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col s6">
          <a href="/menu">
            <div class="card hoverable blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">TAKE AWAY</span>
                <p>Look at our menu, select the items you want and we will deliver your order.</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <br><br>

    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <a href="/menu">
        <div class="card">
          <div class="card-image">
            <img src="/static/img/face.jpg">
            <span class="card-title">See our menu</span>
          </div>
          <div class="card-content">
            <p style="color: black">We have over 40 different handmade burgers for you to choose from which are handmade from scratch in our restaurants every day.</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <a href="/menu">
        <div class="card">
          <div class="card-image">
            <img src="/static/img/plate.jpg">
            <span class="card-title">Specials</span>
          </div>
          <div class="card-content">
            <p style="color: black">This weekend, we're launching our brand new Scotch Beef Burger - made using traditionally reared 100% prime Scotch beef, mixed together with a selection of fresh ingredients and seasonings </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Our Story</h5>
          <p class="grey-text text-lighten-4">Our burgers are handmade from scratch HERE every day, using traditionally reared 100% prime Scotch beef, mixed together with a selection of fresh ingredients and seasonings before being flame-grilled to order, to create the best tasting burger.</p>
      </div>
    </div>
  </footer>

