/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav i.material-icons {
    display: inline;
    margin-right: 0.5em;
}

nav li.active {
	background-color: skyblue;
}

#restaurant-list {
	position: fixed;
	width: 100%;
	top: 50%;
	height: 50%;
	overflow-y: auto;
	box-shadow: 0px -3px 5px #888888;
}

.slider {
	display: none;
}

.slider h3, .slider h5 {
	text-shadow: 2px 2px #000;
}

.collapsible-header {
	color: #f4511e;
}
.price {
	color: #f4511e;
}
.collapsible-body {
	color: #000;
}

.tabs .tab a {
	color: #f4511e;
	/* color: white;*/
}

#menu-total-price {
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	box-shadow: 0px -3px 5px #888888;
}